/todo.txt
/classes/
/data/

/.idea
*.iml
/hs_err_*.log
/data.bkp/
.merge_file_*
*.xml~

# python
venv/*

dist
dist/loklak.jar
/build/
/.gradle/
.DS_Store

/docs/_build
.DS_Store

bin/org/
bin/queries/
bin/log4j2.properties
bin/api_test.sh
.sts4-cache/
.vscode/

# Not needed for repository directory.
/out